body {
  background: #f8f6f6; 
}
h1, h6 {
  padding: 0;
  margin: 0; 
}
h1 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 0.8;
  text-align: center; 
  color: #333;
  letter-spacing: -5px;
  text-transform: uppercase;
  background: yellow;
  padding-top: 4px;
  display: inline;
  clear: both;
}
h6 {
  text-transform: uppercase; 
  text-align: center; 
  color: #666;
  line-height: 1;
  font-family: sans-serif;
  background: yellow;
  margin-top: 2px;
  padding-top: 2px;
  display: inline;
}