body {
  background-color: #eee; 
  max-width: 1337px;
}
h1,h3,h6 {
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Rokkitt', serif;
  text-align: center;
  line-height: 1;
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
}
h3 {
  display: inline-block;
  font-size: 1em; 
  background-color: yellow;
  margin-top: .2em;
  text-align: left;
}
h6 {
  font-size: 1em;
  color: #999;
}
div {
  text-align: left;
}
p {
  font-family: Georgia, 'Merriweather', serif;
  font-size: 1.2em;
  line-height: 1.7em;
  text-align: left;
  padding: 0 20%;
  display: inline-block;
  margin: 0;
  margin-bottom: 1.7em;
}
article {
  margin-top: 3em; 
}
img {
  float: left;
  margin-right: .5em; 
}