<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>john svensson | johnsvensson.com | developer | blog</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="site">
      <header>
        <h1>john svensson</h1><a href="/">Home</a><br>
        <h6>de veloper</h6><br>
      </header>
      {{ content }}
     </div>
  </body>
</html>
<!-- this is the end?! -->